.email-form-card {
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s, opacity 0.3s;
}

.form-title {
  text-align: center;
  margin-bottom: 24px;
}

.form-input,
.form-select,
.form-button {
  width: 100%;
}

.ant-tabs-centered > .ant-tabs-nav .ant-tabs-nav-wrap {
  justify-content: center;
}

.ant-tabs-tab {
  font-size: 16px;
}

.ant-tabs-ink-bar {
  background-color: #1890ff;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #1890ff !important;
}

.ant-form-item-label > label {
  font-weight: bold;
}

.password-rules {
  margin: 10px auto 20px 20px;
}

.password-rules div {
  font-size: 12px;
  margin-bottom: 4px;
  padding-left: 20px;
  position: relative;
}

.password-rules div::before {
  content: "•";
  position: absolute;
  left: 0;
  color: red;
}

.password-rules .valid {
  color: green;
}

.password-rules .valid::before {
  color: green;
}

.password-rules .invalid {
  color: red;
}

.password-rules .invalid::before {
  color: red;
}
