.layout {
  min-height: 100vh;
  background-color: #00284e;
}

.header {
  background: #001529;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  color: white;
  font-size: 24px;
}

.content {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-layout-content {
  background: #ffffff;
  padding: 24px;
  min-height: 280px;
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
